<!-- <nav>
    <!-- <div class="topnav" id="myTopnav"> -->
<!-- <ul>
    <li><a routerLink="/booking">Booking</a></li>
    <li><a routerLink="/Package">Holiday Package</a></li>
    <li><a (click)="clicktologin()">Login</a></li>
    <li><a routerLink="/logout">Logout</a></li>
</ul> -->
<!-- </div> -->
<!-- </nav> -->
 
 <nav>
  <div class="topnav" id="myTopnav">
      <a routerLink="/booking" > Flights </a>
      <a routerLink="/package">Holiday Package</a>
      <a (click)="clicktoLogin()">Login</a>
      <a routerLink="/logout">Logout</a>
    </div>
   
  </nav>
  